@page
@model nmnielsen.Web.Pages.AboutMeModel
@{
}

<div class="container">
    <div class="row border-bottom border-primary mb-3">
        <h1 class="text-white">About me</h1>
    </div>
    <div class="row col-9 border border-primary rounded m-auto text-white">
        <div class="col-12 text-center">
            <img class="m-2 border border-primary" style="object-fit: contain; max-height: 50vh; max-width: 100%" src="~/img/ProfileImage.jpg" alt="Me standing in the snow!" />
        </div>
        <div class="col-12 text-center">
            <h5>Ja det der er mig!</h5>
        </div>
        <div class="col-11 m-auto">
            <p>
                Men ja lidt om mig..... Jeg er en ung mand på @Model.Age år.
                Jeg er lige nu lærling hos Danfoss Drives A/S i Gråsten, Danmark.
                Hvor jeg er igang med at uddanne mig som datatekniker med speciale i programmering, her har jeg arbejdet med flere forskellige projekter,
                som bliver brugt internt i virksomheden.
            </p>

            <p>Hvis jeg ikke er til at finde på virksomheden, er jeg højst sandsynlig på skole på EUC Syd i Sønderborg hvor jeg også bor og har boet siden 2019.</p>

            <p>
                Jeg har også en kat ved navn Oscar, men fordi jeg desvære ikke må have husdyr i min nuværende beboelse tilstand,
                måtte jeg lade ham blive hjemme hos min familie i Bjerringbro da jeg flyttede, han har det heldigvis rigtig godt der.
            </p>

            <div class="row mt-2 mb-2">
                <div class="col-4 p-1 text-center">
                    <a href="~/img/Oscar/Oscar1.jpg"><img class="card-img border border-primary" src="~/img/Oscar/Oscar1.jpg" alt="Cute Cat"/></a>
                </div>
                <div class="col-4 p-1 text-center">
                    <a href="~/img/Oscar/Oscar2.jpg"><img class="card-img border border-primary" src="~/img/Oscar/Oscar2.jpg" alt="Cute Cat"/></a>
                </div>
                <div class="col-4 p-1 text-center">
                    <a href="~/img/Oscar/Oscar3.jpg"><img class="card-img border border-primary" src="~/img/Oscar/Oscar3.jpg" alt="Cute Cat"/></a>
                </div>
            </div>

            <h5 class="border-bottom border-primary">Lidt teknisk viden om mig</h5>

            <p>I min hverdag arbejder jeg hovedsageligt med C# sproget og har haft fingerne i forskellige frameworks, bl.a ASP.NET Core og Xamarin.Forms. </p>

            <p>
                Har også arbejdet en del med andre kodesprog som fx. C++, PHP, JavaScript og SQL for bare at nævne nogen få.
                Jeg har også rodet lidt rundt med nogen af de mest populære game engines som Unity og Unreal, det er dog ikke lykkes mig af lave noget fuldendt spil i nu, 
                men jeg giver ikke op så let.
            </p>
        </div>
    </div>
</div>