@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <h1 class="display-4">Velkommen til!</h1>
    </div>
    <div class="row">
        <div class="col-12 border border-2 border-primary rounded bg-info">
            <p class="fw-bold">Hej og velkommen til!</p>

            <p>Du undre dig nok over hvad det er for en side du lige er gået ind på, og jeg kan skam godt forstå dig.</p>

            <p>
                En kort forklaring er at du lige er endt på min lille sandkasse hjemmeside,
                så hvis det ikke var meningen at du ville her hen kan du sikkert og uden problemer gå tilbage til den side du kom fra.
            </p>
            <p class="fw-bold">Er du her fordi du er nysgerrige på hvem jeg er?</p>
            <p>
                Er du altid velkommen til at surfe lidt rundt på siden.
                Hvor du kan finde ud af mere om mig eller se hvad for nogen projekter jeg arbejder på, eller har arbejdet på.
            </p>
        </div>
        <div class="col-12 border border-2 border-dark rounded mt-2">
            <h4 class="fw-bold">Men med det sagt! Vil jeg bare byde dig velkommen til og værsgo at se dig lidt omkring!</h4>
        </div>
    </div>
</div>