@page   "{ProjectId:int?}"
@model nmnielsen.Web.Pages.Project.ProjectGRUD.ProjectDeleteModel
@{
}

<div class="container">
    <div class="row border-bottom border-primary">
        <h1>Delete Project: @Model.Project.Name</h1>
    </div>
    <div class="row">

    </div>
</div>